.admin__container {
  display: grid;
  grid-template-columns: 1fr;
}
.admin_card-person {
  display: none;
}
.activeTheme {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.29);
  border-radius: 20px;
}
.theme-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.themeBtn {
  width: 80%;
  margin-bottom: 10px;
}
.theme-box {
  width: 100%;
  height: 100%;
}
.activeText {
  background: lightblue;
}
.hidden {
  display: none;
}
.admin__container-full-width {
  /* grid-column: span 2; */
  flex-grow: 1;
}
.admin__info {
  background: #e6eaecc4;
  padding-top: 40px;
  overflow: auto;
  overflow-x: hidden;
}
.admin__info-content {
  flex-grow: 1;
  padding: 40px;
  /* text-align: center; */
}
.form-floating .form-control,
.form-floating.form-control-plaintext {
  border-radius: 15px;
}
.form-control input,
.form-control label {
  overflow: hidden;
}
.admin__info::-webkit-scrollbar {
  width: 8px;
  height: 100px;
}
.admin__info::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #898989;
}
.admin__info::-webkit-scrollbar-track {
  background: #bfbcbc;
  width: 10px;
}

.admin__blanc {
  background-color: white;
  box-shadow: 5px 5px 20px white;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.admin__blanc-header {
  width: 150px;
  height: auto;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.admin__blanc-header img {
  width: 100%;
  height: auto;
}

.admin__card-copyURL {
  position: absolute;
  top: 40px;
  left: 800px;
}
.admin__card-photo {
  display: grid;
  justify-self: center;
  align-self: center;
  place-items: center;
}
.admin__card-fullName {
  margin: 10px 0;
}
.admin__card-names {
  font-size: 22px;
}
.admin__card-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.admin__card-info {
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 10px 10px 20px;
  position: relative;
  border-radius: 0 0 15px 15px;
  height: 100%;
  z-index: 1;
  background-image: url("../img/card-bg.png");
  background-position: right center;
}
.admin__card-info-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.admin__card-contact {
}
.card__about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}
.card__inner-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card__inner-info p {
  margin: 0;
  font-weight: 600;
}
.admin__contact-navbar {
  display: flex;
  justify-content: space-around;
}
.navbar-btn {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.active-nav {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.active-nav.navbar-btn {
  background: black;
  color: white;
}
.admin__card-input {
  /* height: 40px; */
}
/* .admin__card-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border: 5px solid #898989;
}
.admin__card-circle::before,
.admin__card-circle::after {
  content: " ";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
} */

.admin__card-circle img {
  max-width: 100%;
  max-height: 100%;
}

.admin__card-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border: 5px solid #d9d9d9;
  overflow: hidden;
  position: relative;
}

.admin__card-circle img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.admin__card-circle::before,
.admin__card-circle::after {
  content: " ";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 0;
}

.sidebar-navItem {
  /* padding: 10px; */
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.sidebar-navItem li {
  list-style: none;
}

.card__line {
  width: 200px;
  height: 2px;
  background: #fff;
  margin-top: 15px;
  position: absolute;
  border-radius: 2px;
  left: 50px;
}
.content-layout {
  width: 100%;
  height: 100%;
}
.header-admin {
  float: right;
  width: 83%;
  height: 60px;
  /* background: #fff; */
}

.content-admin-page {
  padding-bottom: 100px;
}
.userProfile {
  /* padding-bottom: 50px; */
}
.profile-header {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.profileIcon {
  width: 30%;
  height: 100%;
  background: #e0e0e0;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.profileName {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

/*container of row cols*/
.userProfile .container .row .col {
  min-width: 200px !important;
}

.sidebar-admin {
  background: #fff;
  box-shadow: 2px 2px 8px #bfbcbc;
  z-index: 6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
}

.sidebar-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.admin__logout {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.sidebar-content ul {
  /* flex-direction: column;
  margin-top: 40px; */
}
/* .sidebar-content ul li {
  padding: 10px 0;
  border-top: rgba(224, 224, 224, 0.25) 1px solid;
  width: 100%;
} */
.sidebar-content nav li {
  padding: 10px 0;
  border-top: rgba(224, 224, 224, 0.25) 1px solid;
  width: 100%;
}
.sidebar__profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px auto; */
  margin: 13px 10px 10px 15px;
}

.sidebar__navigation ul {
  padding-left: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
@media screen and (max-width: 992px) {
  /* .sidebar__navigation ul {
    display: flex;
    flex-direction: row;
  } */
  .sidebar__navigation nav {
    display: flex;
    flex-direction: row;
  }
}

/* .sidebar-content ul li {
  color: grey;
}
.sidebar-content ul li a {
  color: grey;
} */
.header-icon-nav {
  display: none;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  font-size: 25px;
}
.header-icon-nav button {
  background: none;
  border: none;
}
.sidebar-admin.active {
  /* left: 0; */
  /* width: 2px;
  height: 8px;
  background-color: #000; */
}

.admin__logout button {
  border: none;
  padding: 5px 11px;
  outline: none;
  background: #eceff0;
  color: grey;
}
.admin__logout button:hover {
  color: blue;
}
.header-icon-nav button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-content li a {
  color: grey;
}
.sidebar-content li a:hover {
  color: rgb(217, 58, 58);
}
.sidebar-content li .active {
  color: rgb(93, 93, 224);
}

.row-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-item {
  width: 40%;
  height: 200px;
  background: #181824;
  color: white;
  border-radius: 20px;
  margin-top: 30px;
}
.stats-icon {
  height: 40%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  font-size: 30px;
}
.stats-num p {
  font-size: 14px;
}
/* .user-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.user__order-steps {
  margin: 40px 0;
}
.btnUserOrder {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 992px) {
}
/* Polygraphy */
@media screen and (max-width: 576px) {
  .polygraphy__container {
    /* max-width: 350px; */
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    max-width: 100vw;
    min-width: 100px;
  }
  .polygraphy__content {
    /* flex-shrink: 1; */
    width: 100%;
    max-width: 100%;
    min-width: 50px;
  }
}

@media screen and (max-width: 992px) {
  .admin__info-content {
    height: 100vh;
    padding: 0 15px;
  }
  .admin__container {
    display: grid;
    grid-template-columns: 1fr !important;
    height: 100vh;
  }
  .admin__logout button {
    position: relative;
  }
  .admin__card-copyURL {
    display: none;
  }
  .profile_image {
    display: none !important;
  }
}
@media screen and (min-width: 992px) /* and (max-width: 1200px) */ {
  .admin__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  .admin__card {
    display: grid;
    place-items: center;
    background-color: rgb(186, 181, 181);
  }

  .admin__info {
    background: #e6eaecc4;
    display: grid;
    grid-template-columns: 80px 1fr;
    /* overflow: auto; */
    height: 100vh;
  }
  .admin__info-content {
    /* flex-grow: 0;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr; */
  }
  .sidebar-admin {
    position: -webkit-sticky;
    position: sticky;
    /* position: fixed; */
    background: #fff;
    box-shadow: 2px 2px 8px #bfbcbc;
    border-radius: 30px;
    color: white;
    padding: 10px 5px;
    z-index: 2;
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    top: 0;
    left: 0;
  }
  .sidebar-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .sidebar-content nav {
    margin-top: 40px;
  }

  .admin__logout {
    position: relative;
  }
  .admin__logout button {
    background: white;
  }
  .sidebar-navItem p {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .admin__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    height: 100vh;
  }
  .admin__card {
    display: grid;
    place-items: center;
    background-color: rgb(186, 181, 181);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .admin__container {
    grid-template-columns: 1fr;
  }
}

/* FOR COMPANY DASHBOARD */

.company-profile-container .col {
  min-width: 200px;
}
.address-row > * {
  min-width: 250px;
}

/* COMPANY USER LIST */

.user-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* freaking padding not working with table mb because of box-sizing or something idk
/* .userList-table-body > tr:first-of-type {
  padding: 20px 20px 0 20px;
} */

.userList-table-body > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 15px;
}
.userList-table-body > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 15px;
}
.userList-table-body > tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 15px;
}
.userList-table-body > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 15px;
}

.userList-table-actionBtns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.userList-table-actionBtns > * {
  min-width: 80px;
}

/* FOR ORDERS */

.companyOrder {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.orderBtn {
  margin: 0 !important;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.orderBtn > select {
  border: none;
  border-radius: 8px;
  padding: 10px;
  /* font-size: 1rem; */
  line-height: 1.5;
  box-shadow: none;
  margin: 0 !important;
}
.orderBtn > select::after {
}

.companyOrder table tr:first-of-type > td:first-of-type {
  border-top-left-radius: 15px;
}
.companyOrder table tr:first-of-type > td:last-of-type {
  border-top-right-radius: 15px;
}
.companyOrder table tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 15px;
}
.companyOrder table tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 15px;
}

td {
  word-break: break-all;
}
